@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto:wght@300;400;700;900&display=swap");
@import "reset.css";
:root {
  --white: #fff;
  --light-grey: #fafafa;
  --primary: #ed1c6f;
  --secondary: #f2633c;
}

/* RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 10px;
}

body {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

p {
  font-family: "Noto Sans JP", sans-serif;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: var(--light-grey);
}

.container {
  position: relative;
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
  min-height: 100%;
}

.content {
  margin-top: 8rem;
  overflow: hidden;
}

main {
  overflow: auto;
  padding: 2rem 0rem 5rem 0rem;
}

nav {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-link {
  font-size: 1.6rem;
  text-decoration: none;
  display: block;
  margin: 0 2rem;
  color: rgb(122, 122, 122);
}

.nav-item {
  position: relative;
  line-height: 6rem;
}

.nav-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(122, 122, 122);
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 650ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav-item:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

/*============================= SLIDER START =============================*/

.slide__show {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 50vh;
  padding-bottom: 40%;
  user-select: none;
  background-color: #1c1c1c;
}

#one {
  background-image: url("../../layout/assets/slider/mixes.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

#two {
  background-image: url("../assets/slider/voice-over.png");
  background-size: cover;
}

#three {
  background-image: url("../assets/slider/bookings.png");
  background-size: cover;
}

/* #four {
  background-image: url("../assets/slider/slide4.jpg");
  background-size: cover;
} */

.slide__show input {
  display: none;
}

.slide__show .slide_img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.slide__show .slide_img img {
  width: inherit;
  height: inherit;
}

.slide__show .slide_img .prev,
.slide__show .slide_img .next {
  width: 5%;
  height: inherit;
  position: absolute;
  top: 0;
  z-index: 99;
  transition: 0.45s;
  cursor: pointer;
  text-align: center;
}

.slide__show .slide_img .next {
  right: 0;
}

.slide__show .slide_img .prev {
  left: 0;
}

.slide__show .slide_img .prev:hover,
.slide__show .slide_img .next:hover {
  transition: 0.3s;
}

.slide__show .slide_img .prev span,
.slide__show .slide_img .next span {
  position: absolute;
  width: 0px;
  height: 0px;
  border: solid 20px;
  top: 50%;
  transform: translateY(-50%);
}

.slide__show .slide_img .prev span {
  border-color: transparent #fff transparent transparent;
  right: 35%;
}

.slide__show .slide_img .next span {
  border-color: transparent transparent transparent #fff;
  left: 35%;
}

.slide__show #nav_slide {
  width: 100%;
  bottom: 12%;
  height: 11px;
  position: absolute;
  text-align: center;
  z-index: 99;
  cursor: default;
}

.slide__show #nav_slide .dots {
  top: -5px;
  width: 18px;
  height: 18px;
  margin: 0 3px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.4s;
  cursor: pointer;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four {
  z-index: 9;
  animation: scroll 1s ease-in-out;
}

#i1:checked ~ #nav_slide #dot1,
#i2:checked ~ #nav_slide #dot2,
#i3:checked ~ #nav_slide #dot3,
#i4:checked ~ #nav_slide #dot4 {
  background: var(--white);
}

@keyframes scroll {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.slide__show .slide_img .slider__text {

  position: absolute;
  top: 70%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

}
.slider__text h1 {
  font-weight: 700;
  color: white;
  font-size: 60px;
  padding: 20px;
  background-color: black;
}
.slider__button {
  font-size: 1.5rem;
  border: none;
  background-color: black;
  color: white;
  margin-top: 10px;
  height: 5rem;
  width: 20rem;
}
.slider__logo {
  width: 150px !important;
}

.large {
  font-weight: 700;
  font-size: 400px;
  opacity: .2;
  mix-blend-mode: color-dodge;
}
/*============================= SLIDER END =============================*/

.player {
  margin-top: 2rem;
}

.subscribe {
  margin: 2rem 0;
  text-align: center;
}

.subscribe__header,
.news__header {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.subscribe__text {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.form__input {
  -webkit-appearance: none;
  background-color: #f6f6f6;
  font-size: 1.6rem;
  color: inherit;
  border: none;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 2rem;
  padding: 1.7rem 1.5rem 1.8rem;
  height: 5rem;
  border-radius: 0.2rem;
  outline: none;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
  background-size: 0 1px;
  background-position: bottom;
  background-repeat: no-repeat;
}

.subscribe__form label {
  display: none;
}

.subscribe__form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form__input--fullname {
  width: 30rem;
  margin-right: 2rem;
}

.form__input--email {
  width: 50rem;
}

.form__button {
  font-size: 1.6rem;
  height: 5rem;
  width: 10rem;
  color: var(--white);
  border: none;
  background-color: black;
  cursor: pointer;
}

footer {
  background-color: #f2f2f2;
  position: relative;
  height: 18.75rem;
  margin-top: 4rem;
  clear: both;
}

.social-icons {
  display: flex;
  width: 20rem;
  height: 3rem;
  padding-left: 1rem;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
}

li.social-icon {
  font-size: 0.5rem;
}

a:visited {
  color: inherit;
}

.social-icon:hover {
  font-size: 0.6rem;
  transition: 0.3s cubic-bezier(0.07, 0.04, 0.09, 1.68);
}

.fa-stack {
  color: black;
}

footer h4 {
  font-size: 1rem;
  /* display: block; */
  position: absolute;
  bottom: 0px;
  /* left: 50%; */
  width: 100%;
  text-align: center;
  /* margin-left: -50%; */
  padding-bottom: 1rem;
}

/*============================= NEWS CARD =============================*/

.card {
  display: flex;
  justify-content: space-between;
  margin: 8rem 0;
}

.card .highlight__icons {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card .highlight__icons::before,
.card .highlight__icons::after {
  content: "";
  display: table;
}

.card .highlight__icons::after {
  clear: both;
}

.card .highlight__icons li {
  display: inline-block;
}

.card .highlight__icons a {
  color: #fff;
}

.card .highlight__icons span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 10px;
  font-weight: 700;
  font-family: "Open Sans";
  transform: translate(-50%, 0);
}

.card .news__highlight {
  background-color: #fff;
  border-radius: 1rem;
  width: 37rem;
  padding: 0.5rem;
  min-height: 50rem;
  position: relative;
  overflow: hidden;
  box-shadow: 8px 8px 11px #f2f2f2, -8px -8px 11px #ffffff;
  transition: all 0.2s ease-in-out;
}

.card .news__highlight:hover {
  transform: scale(1.01);
}

.card .news__highlight:hover .highlight__body {
  transform: translateY(0);
}

.card .highlight__body {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(calc(70px + 1em));
  transition: transform 0.3s;
}

.card .highlight__body .highlight__content {
  padding: 1em;
  position: relative;
  z-index: 1;
}

.card .highlight__author {
  font-size: 12px;
}

.card .highlight__title {
  margin-top: 10px;
}

.card .highlight__text {
  height: 70px;
  margin: 0;
}

.card input[type="checkbox"] {
  display: none;
}

.card input[type="checkbox"]:checked + .highlight__icons {
  transform: translateY(-60px);
}

.news__higlights .news__highlight {
  background: url("../assets/thebigzill.jpg") center / cover no-repeat;
}

.news__higlights .news__highlight:hover .highlight__icons span {
  transform: translate(-50%, -10px);
  opacity: 1;
}

.news__higlights .highlight__header {
  color: #fff;
  padding: 1em;
}

.news__higlights .highlight__header::before,
.news__higlights .highlight__header::after {
  content: "";
  display: table;
}

.news__higlights .highlight__header::after {
  clear: both;
}

.news__higlights .highlight__header .date {
  float: left;
  font-size: 12px;
}

.news__higlights .highlight__icons {
  float: right;
}

.news__higlights .highlight__icons li {
  margin: 0 5px;
  position: relative;
}

.news__higlights .highlight__icons span {
  transition: all 0.3s;
  opacity: 0;
}

.news__higlights .highlight__body {
  color: #fff;
  transform: translateY(calc(70px + 4em));
}

.news__higlights .highlight__title a {
  color: #fff;
  font-size: 3rem;
}

.news__higlights .button {
  display: block;
  width: 100px;
  margin: 2em 0;
  text-align: center;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  position: relative;
  font-weight: 700;
}

.news__higlights .button::after {
  content: "\2192";
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.3s;
}

.news__higlights .button:hover::after {
  transform: translate(5px, -50%);
  opacity: 1;
}

/* =================== END NEWS CARD========================== */

/*============================= BURGER MENU =============================*/

.hamburger {
  width: 3.6rem;
  height: 1.8rem;
  position: relative;
  line-height: 5rem;
  cursor: pointer;
  z-index: 1500;
  display: none;
}

.hamburger .line {
  width: 100%;
  height: 2px;
  background-color: #25122f;
  position: absolute;
  display: block;
  right: 0;
  transition: all 650ms;
}

.hamburger .line:nth-child(1) {
  top: 0;
}

.hamburger .line:nth-child(2) {
  top: 50%;
  margin-top: -1px;
  width: 2.8rem;
}

.hamburger .line:nth-child(3) {
  top: 100%;
  margin-top: -2px;
  width: 2rem;
}

.hamburger.active .line:nth-child(1) {
  transform: translateY(0.8rem) rotate(45deg);
  width: 2rem;
}

.hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .line:nth-child(3) {
  transform: translateY(-0.8rem) rotate(-45deg);
  width: 2rem;
}

@media screen and (max-width: 685px) {
  /*============================= SLIDER =============================*/
  .slide__show {
    border: none;
    width: 100%;
    height: 0;
    padding-bottom: 55%;
  }
  .slide__show .slide_img .prev,
  .slide__show .slide_img .next {
    width: 15%;
  }
  .slide__show .slide_img .prev span,
  .slide__show .slide_img .next span {
    border: solid 12px;
  }
  .slide__show .slide_img .prev span {
    border-color: transparent #fff transparent transparent;
  }
  .slide__show .slide_img .next span {
    border-color: transparent transparent transparent #fff;
  }
  .slide__show #nav_slide .dots {
    width: 12px;
    height: 12px;
  }
  /*============================= END SLIDER =============================*/
  /*============================= SUBCRIBE FORM =============================*/
  .subscribe__form {
    flex-direction: column;
    align-items: center;
  }
  .form__input,
  .form__button {
    height: 4rem;
    width: 30rem;
    margin: 1rem 0;
  }
  .card {
    flex-direction: column;
    text-align: center;
  }
  .news__header {
    margin-bottom: 1rem;
  }
  .card .news__highlight {
    margin-bottom: 2rem;
  }
}

/*============================= END SUBCRIBE FORM =============================*/

/*============================= PROFILE =============================*/

.profile__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile__picture--right {
  margin-right: 2rem;
}

.profile__card--left {
  flex-direction: row-reverse;
}

.profile__picture {
  width: 70rem;
}

.profile__header {
  background: -webkit-linear-gradient(var(--primary), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 6rem;
  margin-bottom: 1.2rem;
}

.profile__text {
  color: #8c8c8c;
  font-size: 2rem;
  line-height: 2.5rem;
}

.profile--overlay {
  margin-top: -20rem;
}

.profile__file {
  display: flex;
  justify-content: center;
  margin: 10rem 0rem;
}

.profile__download,
.tracklisting {
  font-size: 1.5rem;
  border: none;
  background-color: black;
  color: white;
  height: 5rem;
  width: 50rem;
}

/*============================= END PROFILE =============================*/

/*============================= TRACKLIST =============================*/

.splash__container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  user-select: none;
}

.mix__player iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.mix__17 {
  background-image: url("../assets/mix-images/mix__PB017.png");
}

.tracklisting {
  position: absolute;
  top: 80%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* .mix__17:hover {
scale: ;
} */

.mix__16 {
  background-image: url("../assets/mix-images/mix__PB016.png");
}

.mix__15 {
  background-image: url("../assets/mix-images/mix__PB015.png");
}

.mix__14 {
  background-image: url("../assets/mix-images/mix__PB017.png");
}

.mix__13 {
  background-image: url("../assets/mix-images/mix__PB017.png");
}

.mix__18 {
  background-image: url("../assets/mix-images/mix__PB018.png");
}

.tracklisting::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}

.tracklisting.active::after {
  content: "\2212";
}

ol {
  list-style-position: inside;
}

.mix__hour,
.mix__title {
  margin-bottom: 2rem;
}

.tracklist__body {
  /* padding: 1rem; */
  text-align: left;
  z-index: 10000;
  position: absolute;
  top: 118%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: black;
  max-height: 0;
  width: 50rem;
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  transition: max-height 0.2s ease-out;
  border-radius: 0 0 2px 2px;
}

.tracklist__content {
  color: white;
  font-size: 1.4rem;
  padding: 1rem;
  margin: auto;
  line-height: 2rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

/*============================= END TRACKLIST =============================*/

/*============================= 404 =============================*/

.Page404 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Page404__image img {
  margin-top: 10rem;
  margin-bottom: 5rem;
  width: 100rem;
}

.Page404__text {
  font-size: 5rem;
  margin-bottom: 10rem;
  color: #8c8c8c;
}

/*============================= END 404 =============================*/

/*============================= MANSORY =============================*/

.page__header {
  background: -webkit-linear-gradient(var(--primary), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 6rem;
  margin: 4rem 0;
}

.masonry {
  columns: 4;
  column-gap: 16px;
}

@media (max-width: 1200px) {
  .masonry {
    columns: 3;
  }
}

@media (max-width: 992px) {
  .masonry {
    columns: 2;
  }
}

.masonry .grid {
  display: inline-block;
  margin-bottom: 16px;
  position: relative;
}

.masonry .grid:before {
  border-radius: 5px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.masonry .grid img {
  width: 100%;
  border-radius: 5px;
}

.voice__masonry .grid iframe {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 2rem;
}

/*============================= END MANSORY =============================*/

/*============================= BOOKING FORM =============================*/

form {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  /* box-shadow: 0 0 20px 0 #c0c0c0;  */
}

form p {
  font-size: 1.6rem;
}

.form__button--booking,
.form__input--booking {
  margin: 1rem 0;
  width: 100%;
}

.field {
  margin-bottom: 2rem;
}

.checkbox {
  margin: 1rem 0;
}

/* Base for label styling */

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
}

/* checkbox aspect */

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* checked mark aspect */

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: "\2713\0020";
  position: absolute;
  top: 0.15em;
  left: 0.22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #000000;
  transition: all 0.2s;
}

/* checked mark aspect changes */

[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

/*============================= END BOOKING FORM =============================*/

/* 
@media only screen and (min-width: 685px) and (max-width: 959px) {
    .nav-link {
        font-size: 1.4rem;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .Page404__image img {
      width: 50rem;
    }
    footer {
        height: 14rem;
    }
} */

/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
  .hamburger {
    display: flex;
  }
  .hamburger.active .line {
    background-color: #fff;
  }
  .nav-list {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #f16041, #ee1e6f);
    position: fixed;
    left: 0;
    top: -100vh;
    transition: top 650ms;
    z-index: 1000;
  }
  .nav-link {
    color: #fff;
    font-size: 3rem;
  }
  .nav-list.active {
    top: 0;
  }
  .nav-item::before {
    background-color: #fff;
  }
  /* Slider */
  .slider__text h1 {
    font-weight: 700;
    font-size: 12px;
    padding: 20px;
  }
  .slider__button {
    font-size: 1rem;
    margin-top: 5px;
    height: 5rem;
    width: 10rem;
  }
  #nav_slide {
    display: none;
  }
  .large {
    font-size: 100px;
  }
/* End Slider */
  .nav-link {
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .tracklisting {
    top: 85%;
    width: 30rem;
  }
  .tracklist__body {
    top: 135%;
    left: 50%;
    margin-right: -50%;
    width: 30rem;
  }
  .tracklist__content {
    font-size: 1.4rem;
    padding: 1rem;
    line-height: 2rem;
    border-top: 1px solid;
  }
  .Page404__image img {
    width: 50rem;
  }
  footer {
    height: 14rem;
  }
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
  .hamburger {
    display: flex;
  }
  .hamburger.active .line {
    background-color: #fff;
  }
  .nav-list {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #f16041, #ee1e6f);
    position: fixed;
    left: 0;
    top: -100vh;
    transition: top 650ms;
    z-index: 1000;
  }
  .nav-link {
    color: #fff;
    font-size: 3rem;
  }
  .nav-list.active {
    top: 0;
  }
  .nav-item::before {
    background-color: #fff;
  }
  .nav-link {
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
    /* Slider */
    .slider__text h1 {
      font-weight: 700;
      font-size: 20px;
    }
    .large {
      font-size: 200px;
    }
    #nav_slide {
      display: none;
    }
  /* End Slider */
  .Page404__image img {
    width: 50rem;
  }
  footer {
    height: 14rem;
  }
  /*============================= MOBILE PROFILE =============================*/
  .profile__card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile__picture--right {
    margin-right: 0;
  }
  .profile__picture {
    width: 40rem;
  }
  .profile__header {
    background: -webkit-linear-gradient(var(--primary), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: 4rem;
    margin-bottom: 0rem;
    padding: 1rem;
  }
  .profile__text {
    color: #8c8c8c;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 1rem;
  }
  .mix__link {
    padding: 0rem 1rem 0rem inherit;
  }
  .profile--overlay {
    margin-top: 0rem;
  }
  .profile__file {
    display: flex;
    justify-content: center;
    margin: 5rem 0rem;
  }
  .profile__download {
    font-size: 1.5rem;
    border: none;
    background-color: black;
    color: white;
    height: 5rem;
    width: 20rem;
  }
  /*============================= END MOBILE PROFILE =============================*/
  .Page404__image img {
    width: 40rem;
  }
  .social-icons {
    width: 100%;
    justify-content: center;
  }
  footer {
    padding-top: 0.6rem;
    height: 6rem;
  }
  .footer-logo {
    display: none;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
      /* Slider */
      .slider__text h1 {
        font-weight: 700;
        font-size: 40px;
      }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
  ...;
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  ...;
}
